.addons__container {
  box-sizing: border-box;
  padding: 1rem 0;
}

.addons__list {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
}

.addons__list li:not(:last-child) {
  margin-bottom: 1rem;
}

.addons__list--item {
  border: 1px solid var(--color-n-gray-light);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.active--item {
  background-color: var(--color-n-alabaster);
  border: 1px solid var(--color-p-blue-purplish);
}

.right__section {
  color: var(--color-p-blue-purplish);
  font-size: 0.9rem;
  font-weight: 500;
}

.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.css-checkbox + label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 22px;
}

.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  background-color: var(--color-n-white);
  border: 1px solid var(--color-n-gray-light);
  border-radius: 0.2rem;
  box-shadow: none;
}

.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: var(--color-p-blue-purplish);
  border-radius: 0.2rem;
  font-size: 10px;
  height: 22px;
  width: 22px;
}

.left__section {
  display: flex;
  align-items: center;
}

.left__section--text {
  text-align: start;
  margin-left: 1rem;
}

.left__section--text h1 {
  font-size: 1rem;
  color: var(--color-p-blue-marine);
  margin: 0;
}

.left__section--text h2 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-n-gray-cool);
}
