.input__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input__container label {
  color: var(--color-p-blue-purplish);
  font-weight: 500;
  padding-top: 0.5rem;
}

.input__container input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-n-gray-light);
  border-radius: 0.5rem;
}

.input__container--error input {
  border: 1px solid red;
}

.input__container--error p {
  margin: 0;
  font-size: 0.8rem;
  color: red;
  padding: 0.5rem 0 0 1rem;
}

.input__container input::placeholder {
  font-weight: 700;
}

@media (min-width: 1280px) {
  .input__container label {
    padding-top: 1rem;
  }

  .input__container input {
    padding: 1rem;
  }
}
