.footer__container {
  width: 100%;
  background-color: var(--color-n-white);
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}

.btn__back {
  border: none;
  background-color: transparent;
  color: var(--color-n-gray-cool);
  font-weight: 700;
}

.btn__next {
  background-color: var(--color-p-blue-marine);
  padding: 0.5rem 1rem;
  color: var(--color-n-white);
  border-radius: 0.3rem;
  font-weight: 700;
  border: 2px solid var(--color-p-blue-marine);
  position: absolute;
  right: 1rem;
}

.btn__back:hover,
.btn__next:hover {
  cursor: pointer;
}

@media (min-width: 1280px) {
  .footer__container {
    position: relative;
    padding: 1rem 6rem;
  }

  .btn__next {
    right: 6rem;
  }
}
