@import url("./globals.css");

#root {
  margin: 0 auto;
  text-align: center;
  flex: 1;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--color-n-magnolia);
}

.spacer {
  height: 10vh;
  width: 100%;
  background-color: var(--color-n-magnolia);
  transform: translateY(-4.2rem);
}
