@import url("./globals.css");

#root {
  margin: 0 auto;
  text-align: center;
  flex: 1;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--color-n-magnolia);
}

.spacer {
  height: 10vh;
  width: 100%;
  background-color: var(--color-n-magnolia);
  transform: translateY(-4.2rem);
}

@media (min-width: 1280px) {
  .container {
    width: 65rem;
    height: 40rem;
    display: flex;
    align-items: center;
    background-color: var(--color-n-white);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
  }

  .spacer {
    display: none;
  }

  .info {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
